@using MH_Ocs.Models
@model  IEnumerable<MH_Ocs.Models.VideoL>
@{
    Layout = "~/Views/Shared/_LayoutLearn.cshtml";
    var setLang = GetUser.UserFavorites(ViewBag.language);
}



<header class="main-box-header clearfix header-title-l">
    <h2 style="font-weight:900 !important">@setLang.Title</h2>
</header>



<div class="container modul" id="Videos">

    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {

            <a href="@Url.Action("Videolesson", "Learning", new { Id = item.Id, language = ViewBag.language})">
                <div class="col-xs-12 videotable">

                    <div class="col-xs-8  videotleft">
                        <div class="col-xs-12">
                            <span class="minutet">@item.VideoXL.VideoLEMs.First().minute  минут</span>
                            <div class="title">  @item.Name </div>
                        </div>
                        <div class="col-xs-12  statvideo ">
                            <i class="fa  fa-thumbs-up " style="height:14px">@item.VideoXL.VideoLEMs.First().Likes</i>&nbsp;&nbsp;

                            <i class="fa  fa-eye ">@item.VideoXL.VideoLEMs.First().Eye</i>

                        </div>
                    </div>

                    <img src="@Url.Content(item.Iconimg)" class="col-xs-4 videotright" />

                </div>
            </a>

        }

    }

   
</div>






